version: '3.8'
services:
  db:
    image: postgres:14-alpine
    restart: always
    environment:
      POSTGRES_USER: cinema_user
      POSTGRES_PASSWORD: StrongPassword123
      POSTGRES_DB: cinema_db
    ports:
      - "5432:5432"

  backend:
    build: ./backend
    restart: always
    environment:
      DATABASE_URL: "postgresql://cinema_user:StrongPassword123@db:5432/cinema_db?schema=public"
      PORT: 5000
    ports:
      - "5000:5000"
    depends_on:
      - db

  frontend:
    build: ./frontend
    restart: always
    ports:
      - "80:80"
    depends_on:
      - backend