@tailwind base;
@tailwind components;
@tailwind utilities;

.leaflet-container {
    width: 100%;
    height: 100%;
    border-radius: 1rem;
}

.custom-inner-scrollbar::-webkit-scrollbar {
    width: 5px;
}

.custom-inner-scrollbar::-webkit-scrollbar-track {
    background: transparent;
    margin-block-start: 30px;
    margin-block-end: 45px;
}

.custom-inner-scrollbar::-webkit-scrollbar-thumb {
    background-color: rgba(203, 213, 225, 0.8);
    border-radius: 10px;
}

.custom-inner-scrollbar::-webkit-scrollbar-thumb:hover {
    background-color: #94a3b8;
}

/* Для Firefox */
.custom-inner-scrollbar {
    scrollbar-width: thin;
    scrollbar-color: rgba(203, 213, 225, 0.8) transparent;
}